# Eclipse
.project
.classpath
.settings/
bin/
.java-version

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# Tableau connector local files
tableau-connector/build/
tableau-connector/docs/
tableau-connector/tdvt/.local/
tableau-connector/tdvt/__pycache__/
